name: CI
permissions: {}

defaults:
  run:
    shell: bash

on:
  push:
    branches:  
        - main 
    paths:
        - 'src/**'
  pull_request:
    branches:
        - main
    paths:
        - 'src/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest        
    timeout-minutes: 10
    if: github.actor != 'renovate[bot]'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup & Run Lint    
        uses: ./.github/actions/setup
        with:
          script: biome:lint

  build:
    name: Build & Type-Check
    needs: lint
    runs-on: ubuntu-latest        
    timeout-minutes: 10
    if: github.actor != 'renovate[bot]'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      
      - name: Setup & Run Build
        uses: ./.github/actions/setup
        with:
          script: build
